[global]
    workgroup = {{ opencanary_samba_workgroup }}
    server string = {{ opencanary_samba_server_string }}
    netbios name = {{ opencanary_samba_netbios_name }}
    dns proxy = no
    log file = /var/log/samba/log.all
    log level = 0
    max log size = 100
    panic action = /usr/share/samba/panic-action %d
    server role = standalone
    passdb backend = tdbsam
    obey pam restrictions = yes
    unix password sync = no
    map to guest = bad user
    usershare allow guests = yes
    load printers = no
    vfs object = full_audit
    full_audit:prefix = %U|%I|%i|%m|%S|%L|%R|%a|%T|%D
    full_audit:success = flistxattr
    full_audit:failure = none
    full_audit:facility = local7
    full_audit:priority = notice

[{{ opencanary_samba_share }}]
    comment = {{ opencanary_samba_comment }}
    path = {{ opencanary_samba_path }}
    guest ok = yes
    read only = yes
    browseable = yes
